Programming Theory Project/Library/
Programming Theory Project/Temp/
Programming Theory Project/Logs/
Programming Theory Project/obj/
Programming Theory Project/UserSettings/
.vs/
Programming Theory Project/.vsconfig
